#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card{
  width: 75%;
  margin-left: 10%;
  margin-top:5%;
}

.form-control{
  margin-top: 2%;
}

.btn{
  width:100%;
  margin-top:3%;
}
